.card-wrapper {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.07872px solid rgba(238, 231, 231, 0.8);
    box-shadow: 0px 1.07872px 8.62974px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    width: 370px;
    height: 384px;
    border-width: 1.08px;
    border-radius: 8px;
    padding: 5px 20px;
    .card-img-container {
        img {
            max-width: 100%;
            overflow: none;
            width: 356px;
            height: 202px;
            border-radius: 5px;
        }

    }
    h2 {
        width: 238px;
        height: 48px;
        font-size: 20px;
    }
    .pass-card-wrapper {
        display: flex;
        justify-content: space-between;
        > div {
            width: 167px;
            height: 66px;
            border-radius: 6px;
            border-width: 0.5px;
            > div {
                &:first-child {
                    padding: 8px 12px;
                }
                padding-left: 12px;
            }
            .arrow {
                position: absolute;
                top: 23px;
                right: 10px;
            }
            .discount {
                background: #263238;
                color: #ffffff;
                border-radius: 3px;
                width: 69px;
                height: 18px;
                position: absolute;
                top: -9px;
                left: 40px;
                font-size: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
            &.pass-left {
                background: #F9F9F9;
                border: 0.5px solid #EEE7E7;
                border-radius: 6px;
                margin: 8px 0;
                position: relative;
                .pass-left-txt {
                    height: 17px;
                    font-size: 14px;
                    color: #65624C;

                }
            }
            &.pass-right {
                background: #FFCF4B;
                margin: 8px 0;
                position: relative;
                .pass-right-txt {
                    height: 17px;
                    font-size: 14px;
                }
            }
        }

    }
}